# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.sqlite3

# Virtual environments
venv/
.env/
.venv/

# Jupyter / IPython
.ipynb_checkpoints/

# Logs
*.log

# --- Kivy ---
*.kv~         # backups de editores
*.ini         # configs de usuario
*.db          # bases temporales
.kivy/

# --- VSCode ---
.vscode/
.history/

# --- SO ---
# macOS
.DS_Store
# Linux
*.swp
*~
# Windows
Thumbs.db

# Ignorar entorno virtual de Python
venv/
__pycache__/
*.pyc

# Ignorar archivos temporales de Kivy/VSCode
*.log
*.db
*.sqlite3
.vscode/

# Ignorar compilaciones de Arduino
*.hex
*.elf
*.bin

# Ignorar cosas de sistema
.DS_Store
Thumbs.db
